* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(unknown.png);
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1280px;
    height: 100vh;
    margin: auto;
}
header {
    width: 1280px;
    background-color: #171a21;
    border-radius: 2rem;
    margin-top: 1rem;
}

header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    color: white;
    width: 80%;
    margin: auto;
}

header .header-container .logo img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position:absolute;
    top: 1.4rem;
    left: 20rem;
}

header .header-container nav {
    display: flex;
    gap: 7rem;
    font-size: 1.5rem;
}

header .header-container nav a {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

header .header-container nav a:hover {
    text-decoration: underline;
}

main {
    height: 80vh;
    background-color: #171a21;
    margin-top: 1rem;
    border-radius: 2rem;
    display: flex;
    color: white;
}

main .left-side {
    width: 50%;
    height: 100%;
    overflow: hidden;
}

main .left-side img {
    max-width: 39.9rem;
    max-height: 46.8rem;
    opacity: 0.8;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

main .right-side {
    width: 50%;
    height: 100%;
}

main .right-side .about {
    width: 30rem;
    margin: auto;
    margin-top: 2rem;
    text-align: center;
}

main .right-side .about p {
    font-size: 24px;
}

main .right-side .about ul {
    list-style-type: none;
}

main .right-side .links {
    width: 10rem;
    margin: auto;
    margin-top: 8rem;
    text-align: center;
}

main .links ul a {
    color: white;
}

main .right-side .links ul {
    list-style-type: none;
}